version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: workflow_engine_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d # Mount migrations here for initial setup (for simple cases)

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379" # Default Redis port

volumes:
  postgres_data:
